.about {
  padding-top: 100px;
  padding-bottom: 130px;
  font-size: 18px;
  @media @bw1020 {
    font-size: 16px;
    padding-bottom: 31px;
  }
  @media @bw650 {
    padding-top: 70px;
    padding-bottom: 97px;
  }
  &__body {
  }
  &__title{
    @media @bw1660{
      margin-bottom: 129px;
    }
    @media @bw1660{
      margin-bottom: 100px;
    }
  }
  &__article {
  }
  &__desctiption-grid {
    padding-top: 100px;
    gap: 100px 11px;
    grid-template-columns: 1fr 34%;
    grid-template-areas:
      "img1 img2"
      "title img2"
      "text text";
    @media @bw1660 {
    }
    @media @bw1340 {
      gap: 70px 25px;
      grid-template-columns: 1fr 37%;
      grid-template-areas:
        "img1 img1"
        "title img2"
        "text img2";
        padding-top: 80px;
    }
    @media @bw768 {
      padding-top: 61px;
      gap: 60px 11px;
      grid-template-columns: 1fr 193px;
      grid-template-areas:
        "img1 img1"
        "title title"
        "text text"
        "img2 img2";
    }
    .about__image-1 {
      grid-area: img1;
    }
    .about__image-2 {
      grid-area: img2;
      margin-top: auto;
      margin-left: auto;
      @media @bw1340 {
        margin-top: -20px;
      }
      @media @bw768 {
        max-width: 193px;
      }
      img{
        @media @bw1660{
          margin-bottom: 32px;
        }
      }
    }
    .about__desctiption--title {
      grid-area: title;
      margin-bottom: 15px;
      @media @bw1660 {
        margin-top: 12px;
      }
      @media @bw768 {
        margin-bottom: 35px;
      }
    }
    .about__desctiption--text {
      grid-area: text;
      margin-top: -65px;
      @media @bw1660 {
        margin-top: -28px;
      }
      @media @bw1340 {
        margin-top: -107px;
        max-width: 348px;
      }
    }
  }
  &__desctiption {
    @media @bw1340 {
    }
    &:nth-child(3) {
      padding-top: 128px;
      padding-left: 49px;
      @media @bw1660 {
        padding-top: 108px;
        padding-left: 39px;
      }
      @media @bw1340 {
        padding-left: 29px;
        padding-right: 7px;
        padding-top: 39px;
      }
      @media @bw768 {
        padding-left: 11px;
        padding-right: 2px;
      }
      @media @bw650 {
        padding-top: 46px;
      }
      .about__image {
        width: 68%;
        @media @bw1660 {
          img{
            width: 99%;
          }
        }
        @media @bw1340 {
          width: 100%;
          img {
            width: 100%;
          }
        }

        &::before {
          content: "";
          position: absolute;
          left: -48px;
          top: -18px;
          right: -8px;
          height: 68%;
          background-color: @red;
          z-index: -1;
          @media @bw1660 {
            left: -37px;
            right: 0px;
          }
          @media @bw1340 {
            left: -29px;
            right: -7px;
          }
          @media @bw768 {
            left: -11px;
            right: -2px;
            top: -5px;
          }
        }
      }
      .about__desctiption--text {
        max-width: 344px;
        @media @bw1660 {
          max-width: 29%;
        }
        @media @bw1340 {
          max-width: calc(100% + 29px);
          width: calc(100% + 29px);
          margin-left: -29px;
        }
        @media @bw768 {
          max-width: none;
          width: auto;
          margin-left: -11px;
          margin-right: -5px;
        }
        & p {
          margin-top: auto;
          padding-top: 61px;
          @media @bw1340 {
            max-width: 310px;
            padding-top: 76px;
          }
          @media @bw768 {
            max-width: 100%;
          }
        }
      }
    }
    &--title {
      font-size: 44px;
      font-weight: 700;
      line-height: 1.363;
      max-width: 868px;
      margin-top: 0;
      margin-bottom: 51px;
      @media @bw1340 {
        font-size: 26px;
        width: 100%;
      }
      @media @bw650 {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    &--text {
      max-width: 867px;
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 0;
      @media @bw1660 {
        max-width: 827px;
      }
      @media @bw1340 {
        max-width: 637px;
      }
    }
    &-link {
      margin-top: auto;
      margin-bottom: 0;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.2s;

      @media @bw1340 {
        max-width: 262px;
        margin-left: auto;
        margin-bottom: 15px;
      }
      @media @bw650 {
        max-width: 100%;
        margin-top: 14px;
      }
    }
  }
  &__image {
    position: relative;
  }
  &__image-1 {
  }
  &__image-2 {
    @media @bw1660{
      max-width: 393px;
    }
  }
  &__img {
    display: block;
    margin: 0;
  }
}

.about-home {
  padding-top: 100px;
  @media @bw1340 {
    padding-bottom: 46px;
  }
  @media @bw1020 {
    padding-top: 30px;
  }
}
