.about {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 18px;
  @media @bw1020 {
    font-size: 16px;
    padding-bottom: 31px;
  }
  @media @bw650{
    padding-top: 70px;
    padding-bottom: 65px;
  }
  &__body {
    display: grid;
    grid-template-columns: calc(100% - 404px) 404px;
    grid-template-areas:
      "description description"
      "image1 image2"
      "description2 description2"
      "description3 description3";
    padding-bottom: 32px;
    @media @bw1340 {
      grid-template-columns: calc(100% - 262px) 262px;
      grid-template-areas:
        "description description"
        "image1 image1"
        "description2 image2"
        "description3 description3";
    }
    @media @bw650{
      grid-template-columns: auto;
      grid-template-areas:
        "description"
        "image1"
        "description2"
        "image2"
        "description3";
    }
  }
  &__article {
  }
  &__desctiption {
    &:nth-child(1) {
      grid-area: description;
      padding-bottom: 102px;
      @media @bw650{
        padding-bottom: 61px;
      }
    }
    &:nth-child(4) {
      grid-area: description2;
      margin-top: -104px;
      padding-bottom: 64px;
      @media @bw1340{
        max-width: 90%;
        margin-top: 0;
      }
      @media @bw650{
        max-width: 100%;
        padding-bottom: 54px;
      }
    }
    &:nth-child(5) {
      grid-area: description3;
      padding-top: 69px;
      padding-left: 49px;
      @media @bw1340{
        padding-left: 29px;
        padding-right: 7px;
      }
      @media @bw1340{
        padding-left: 11px;
        padding-right: 2px;
      }
      @media @bw650{
        padding-top: 55px;
      }
      .about__image {
        width: 68%;
        @media @bw650{
          width: 100%;
          img{
            width: 100%;
          }
        }
        
        &::before {
          content: "";
          position: absolute;
          left: -48px;
          top: -18px;
          right: -8px;
          height: 68%;
          background-color: @red;
          z-index: -1;
          @media @bw1340{
            left: -29px;
            right: -7px;
          }
          @media @bw650{
            left: -11px;
            right: -2px;
            top: -5px;
          }
        }
      }
      .about__desctiption--text {
        max-width: 344px;
        @media @bw1340{
          max-width: 100%;
          width: 100%;
        }
        @media @bw650{
          max-width: none;
          width: auto;
          margin-left: -11px;
          margin-right: -5px;
        }
        & p {
          margin-top: auto;
          padding-top: 61px;
          @media @bw1340{
            max-width: 310px;
          }
          @media @bw650{
            max-width: 100%;
          }
        }
      }
    }
    &--title {
      font-size: 44px;
      font-weight: 700;
      line-height: 1.3;
      max-width: 868px;
      margin-top: 0;
      margin-bottom: 51px;
      @media @bw1340{
        font-size: 36px;
        width: 100%;
      }
      @media @bw650{
        font-size: 18px;
        margin-bottom: 30px;
      }
    }
    &--text {
      max-width: 867px;
      margin-left: auto;
      margin-top: 0;
      margin-bottom: 0;
      @media @bw1660 {
        max-width: 827px;
      }
      @media @bw1340{
        max-width: 637px;
      }
    }
    &-link {
      margin-top: auto;
      margin-bottom: 0;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.2s;
      
      @media @bw1340{
        max-width: 262px;
        margin-left: auto;
      }
      @media @bw650{
        max-width: 100%;
        margin-top: 14px;
      }
    }
  }
  &__image {
    position: relative;
  }
  &__image-1 {
    grid-area: image1;
    padding-bottom: 204px;
    width: 94%;
    @media @bw1340{
      width: 100%;
      padding-bottom: 51px;
      & img{
        width: 100%;
      }
    }
    @media @bw650{
      padding-bottom: 61px;
    }
  }
  &__image-2 {
    grid-area: image2;
    margin-left: auto;
    margin-top: auto;
    width: 100%;
    @media @bw650{
      width: fit-content;
      max-width: 193px;
    }
  }
  &__img {
    display: block;
    margin: 0;
  }
}

.about-home {
  padding-top: 100px;
  @media @bw1020 {
    padding-top: 30px;
  }
}
