.contacts {
  padding-bottom: 120px;
  @media @bw1340{
    padding-bottom: 95px;
  }
  @media @bw880{
    padding-bottom: 82px;
  }
  @media @bw650{
    padding-bottom: 47px;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    margin-bottom: 152px;
    @media @bw1660 {
      margin-bottom: 131px;
    }
    @media @bw1340 {
      margin-bottom: 100px;
    }
  }
  &__info {
    width: 100%;
    max-width: 470px;
    @media @bw1660{
    }
    @media @bw1340{
      max-width: 100%;
      display: flex;
      flex-wrap: nowrap;
      padding-top: 78px;
      justify-content: space-between;
    }
    @media @bw880{
      padding-top: 81px;
    }
    @media @bw768{
      flex-wrap: wrap;
    }
    @media @bw650{
      padding-top: 42px;
      font-size: 14px;
    }
    &-item {
      align-items: center;
      width: 100%;
      @media @bw1340{
        width: auto;
        justify-content: center;
        align-items: start;
      }
      @media @bw768{
        width: 100%;
      }
      & ~ .contacts__info-item{
        margin-top: 67px;
        @media @bw1660{
          margin-top: 53px;
        }
        @media @bw1340{
          margin-top: 0;
        }
        @media @bw768{
          margin-top: 43px;
        }
        @media @bw650{
          margin-top: 0;
        }
      }
    }
    &-icon {
      width: 110px;
      height: 110px;
      background: rgb(31, 30, 30);
      display: flex;
      align-items: center;
      justify-content: center;
      @media @bw1340{
        margin-bottom: 31px;
        width: 114px;
      }
      @media @bw768{
        width: 65px;
        height: 65px;
      }
      @media @bw650{
        margin-bottom: 44px;
      }
    }
    &-text {
        padding-left: 58px;
        box-sizing: border-box;
        width: calc(100% - 110px);
        font-style: normal;
        @media @bw1340{
          width: 100%;
          padding-left: 0;
          text-align: center;
        }
        @media @bw768{
          width: calc(100% - 65px);
          padding-left: 10px;
          text-align: left;
        }
    }
    &-string{
        display: block;
        text-decoration: none;
        transition: color 0.2s ease;
        @media @bw880{
          margin-bottom: 4px;
        }
        @media @bw650{
          margin-bottom: 0px;
        }
    }
    &-string[href]:hover{
        color: @red;
    }
    &-head{
        margin-top: 0;
        margin-bottom: 4px;
        font-size: 20px;
        font-weight: 600;
        @media @bw1340{
          font-size: 18px;
          margin-bottom: 9px;
        }
        @media @bw650{
          font-size: 14px;
          margin-bottom: 9px;
        }
    }
  }
  &__map {
    width: 100%;
    max-width: 752px;
    position: relative;
    @media @bw1340{
      width: 100%;
      max-width: 100%;
      order: -1;
      margin-bottom: 20px;
    }
    &-pic{
      width: 100%;
      display: block;
      &::after{
        content: '';
        display: block;
        padding-top: 65.292%;
      }
    }
    &-baloon{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    &-img{
      display: block;
      margin: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @media @bw1020{
        
      }
    }
  }
}
