.event {
  padding: 0 0 150px;
  &__container {
  }
  &__content {
    padding-top: 78px;
  }
  &__columns,
  &__data {
    display: flex;
    flex-wrap: wrap;
  }
  &__columns {
    position: relative;
    @media @bw768 {
      justify-content: center;
    }
  }
  &__br {
    display: none;
    width: 100%;
    @media @bw768 {
      display: block;
    }
  }
  &__data {
    justify-content: space-between;
    /* width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 1;
    font-family: @font3;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    @media @bw768 {
      width: 100%;
      max-width: 50%;
    }
  }
  &__data--left, &__data--right{
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 139px;
      height: 1px;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  &__data--left {
    margin-right: 58px;

    &::after, &::before{
      background: linear-gradient(
        270deg,
        rgb(28, 27, 27),
        rgba(255, 255, 255, 0) 82.857%
      );
      right: 0;
    }
  }
  &__data--right {
    margin-left: 58px;

    &::after, &::before{
      background: linear-gradient(-270.00deg, rgb(28, 27, 27),rgba(255, 255, 255, 0) 82.857%);
      left: 0;
    }
  }
  &__time {
    font-weight: 300;
    font-size: 30px;
    font-style: normal;
    line-height: 36px;
  }
  &__picture {
    display: block;
    position: relative;
    width: 100%;
    max-width: 497px;
    font-size: 0;
    text-decoration: none;
    overflow: hidden;
    @media @bw1340 {
      max-width: 426px;
    }
    @media @bw1020 {
      max-width: 245px;
    }
    @media @bw768 {
      order: -1;
      margin-left: auto;
      margin-right: auto;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 107.16%;
    }
    &--img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
