.places{
    &__place{
        position: relative;
        display: inline-flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: end;
        padding-left: 63px;
        &::before,
        &::after{
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: absolute;
        }
        &::before{
            border: 1px solid @black;
            left: 0;
        }
        &::after{
            border: 1px solid @red;
            left: 14px;
            position: absolute;
        }
    }
    &__place--disable{
        &::after{
            opacity: 0;
        }
        &::before{
            border-color: #BFBFBF;
            background: #BFBFBF;
            left: 6px;
        }
    }
}